.DS_Store
.idea
testdata/*.zip
testdata/*/*.go
!testdata/testexe/*.go
testdata/raw-aes/lena.png
testdata/raw-aes/rootfile.txt
testdata/raw-aes/subfolder/file-in-subfolder.txt
testdata/raw-aes/uiimage.png
testdata/raw-chacha/gentestdata.sh
testdata/raw-chacha/lena.png
testdata/raw-chacha/rootfile.txt
testdata/raw-chacha/subfolder/file-in-subfolder.txt
testdata/raw-chacha/uiimage.png
testdata/testexe/testexe.darwin
testdata/testexe/testexe.exe
testdata/testexe/testexe.linux
cmd/brbundle/brbundle
cmd/brbundle/brbundle.exe
